@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.left {
  width: 30%;
  padding: 8px;
}
.right {
  width: 70%;
}
.container {
  display: flex;
  flex-direction: row;
}

.home ul li {
  list-style: none;
  width: 12px;
  display: flex;
  gap: 12px;
  padding: 8px;
  font-weight: bold;
}

.logo img {
  width: 120px;
  height: 60px;
}

.heading {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 12px;
  padding: 16px;
  font-weight: 100;
  font-size: 12px;
}

.library {
  height: 72vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 99, 99);
}

.header > * {
  padding: 20px;
}

.right {
  margin: 16px 0;
  padding: 8px;
  position: relative;
}

.playlist {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.cardcontainer {
  margin: 16px;
  display: flex;
  flex-direction: row;
}
.card {
  width: 150px;
  height: 200px;
  font-size: 16px;
  font-weight: 200;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  position: relative;
  background-color: rgb(161, 158, 158);
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.card h2 {
  font-size: medium;
}
.card p {
  font-size: small;
  font-weight: 400;
}

.play {
  position: absolute;
  top: 112px;
  right: 16px;
  opacity: 0;
  transition: all 1s ease-out;
}

.signupbtn {
  height: 32px;
  border-radius: 20px;
  padding-inline: 0px;
  padding-block: 0px;
  border-width: 0px;
  width: 72px;
  margin-right: 4px;
  margin-left: 4px;
  font-weight: bold;
  background-color: rgb(4, 4, 165);
  color: rgb(136, 136, 136);
}
.signupbtn:hover {
  background-color: blue;
  color: white;
  /* width: 74px; */
  /* height: 34px; */
}

.loginbtn {
  height: 32px;
  border-radius: 20px;
  padding-inline: 0px;
  padding-block: 0px;
  border-width: 0px;
  width: 72px;
  margin-right: 4px;
  margin-left: 4px;
  font-weight: bold;
  color: rgb(4, 4, 165);
  background-color: rgb(216, 213, 213);
}
.loginbtn:hover {
  color: blue;
  background-color: white;
  /* font-size: 14px; */
  /* width: 74px; 
  height: 34px; */
}

.playbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: aquamarine;
  left: 0;
}
