@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.left {
  width: 30vw;
  padding: 8px;
}
.right {
  width: 70vw;
}
.container {
  display: flex;
  flex-direction: row;
}

.home ul li {
  list-style: none;
  width: 12px;
  display: flex;
  gap: 12px;
  padding: 8px;
  font-weight: bold;
}

.logo img {
  width: 120px;
  height: 60px;
}

.heading {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 12px;
  padding: 16px;
  font-weight: 100;
  font-size: 12px;
}

.library {
  height: 72vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 99, 99);
}

.header > * {
  padding: 20px;
}

.right {
  margin: 16px 0;
  padding: 8px;
}

.playlist {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.cardcontainer {
  margin: 16px;
  display: flex;
  flex-direction: row;
}
.card {
  width: 150px;
  height: 200px;
  font-size: 16px;
  font-weight: 200;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  position: relative;
  background-color: rgb(161, 158, 158);
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.card h2 {
  font-size: medium;
}
.card p {
  font-size: small;
  font-weight: 400;
}

.play {
  position: absolute;
  top: 112px;
  right: 16px;
  opacity: 0;
  transition: all 1s ease-out;
}
