.border {
  border: 1px solid #000;
  margin: 4px;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-ivory {
  background-color: rgb(233, 233, 233);
  color: #000000;
}

.rounded {
  border-radius: 8px;
}

.m1 {
  margin: 4px;
}
